name: Backend CI

on:
  pull_request:
    paths:
      - "node-backend/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm install
        working-directory: node-backend
      - run: npm run lint
        working-directory: node-backend
